<h1> Update info:</h1>

<%= "User: #{@user}" %>

<% if false %>
<%= form_tag("/users", method: "post") do |i| %>

    <%= label_tag(:username, "username")%><br>
    <%= text_field_tag(:username) %><br>

    <%= label_tag(:email, "email")%><br>
    <%= text_field_tag(:email) %><br>

    <%= label_tag(:password, "password")%><br>
    <%= password_field_tag(:password) %><br>

    <%= submit_tag("Create") %>
<% end %>
<% end %>

<%= form_for @user do |f| %>
    Username:<br><%= f.text_field :username, value: "Name" %><br>
    Email:<br><%= f.text_field :email, placeholder: "example@example.com" %><br>
    Password:<br><%= f.password_field :password %><br>
    <%= f.submit %>
<% end %>